---
---

@import "{{ site.theme }}";
/* This file overrides the default CSS styles for GitHub Pages. */
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');
html, body{direction: rtl;}
body{
    padding: 0 16px;
    @media screen and (min-width:500) {
        margin: 40px;
        border: 1px solid #bbb;
        border-radius: 16px;
    }
}
*{font-family:"Vazirmatn",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";}
.markdown-body{
    h1, h2, h3, h4, h5, h6{
        display: flex;
        justify-content: start;
        align-items: end;
        gap: 8px;
    }
    .highlight pre, pre{
        direction: ltr;
    }
    blockquote{
        border-right: .25em solid #dfe2e5;
        border-left: none;
    }
}