name: Deploy to Divar Dev

on:
  push:
    branches:
      - master
  schedule:
    - cron: '*/15 * * * *'  # Run every 15 minutes
  workflow_dispatch:  # Allow manual trigger

jobs:
  build-divar-dev:
    name: Build Docusaurus
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile
      
      - name: Generate API docs
        run: yarn generate
      
      - name: Build website
        run: yarn build
        env:
          PATH_PREFIX: "/"
          DEPLOY_PRIME_URL: "https://kenar.divar.dev"

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-files
          path: build

  deploy-kise:
    name: Deploy to Kise(s3)
    needs: build-divar-dev

    runs-on: ubuntu-latest
    steps:
      - name: Download Build Artifact
        uses: actions/download-artifact@v4
        with:
          name: build-files
          path: build

      - name: Sync to S3
        run: |
          aws s3 sync ./build s3://${{ secrets.KISE_BUCKET }} \
            --endpoint-url ${{ secrets.KISE_HOST }} \
            --acl public-read \
            --delete

        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.KISE_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.KISE_SECRET_KEY }}
          AWS_DEFAULT_REGION: us-east-1
          AWS_REQUEST_CHECKSUM_CALCULATION: when_required
          AWS_RESPONSE_CHECKSUM_VALIDATION: when_required
